---
layout: default
title : Statistical software and reproducible research
---
<h1 class="name">Statistical software and reproducible research</h1>

<ol>
  <li><a href="">Modélisation robuste, semiparamétrique et extrême des risques d’assurance</a></li>
  <li><a href="/R-analysis/report-index.html">Life Expectancy & Development: a Gapminder Analysis</a></li>
</ol>
<!--{% include header.html %} -->

<!-- <iframe src="/R-analysis/report.html" width="100%" height="1000"></iframe> -->

<!-- {% include footer.html %} -->
