<header class="topbar">
  <div class="topbar-inner">
    <nav class="menu">
      <a href="/">Home</a>

      <div class="dropdown">
        <a href="/research/">Research</a>
        <div class="dropdown-content">
          <a href="/research-themes.html">Research Themes</a>
        <a href="/publications.html">Publications</a>
          <a href="/research-vision.html">Research Vision</a>
          <a href="/impact.html">Impact</a>
          <a href="/software.html">Software & Data</a>
        </div>
      </div>

      <div class="dropdown">
  <a href="/teaching/">Teaching</a>
  <div class="dropdown-content">
    <a href="/teaching-courses/">Courses</a>
    <a href="/teaching-materials/">Materials</a>
  </div>
</div>
  

      <a href="/supervision/">Supervision</a>
      <a href="/service.html">Service</a>
    </nav>
  </div>
</header>
